.main{
    background-image: url("img/dog 1.jpeg");
    background-color: rgb(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: darken;
    animation: change 50s infinite ease-in-out;
}
h1{
    text-align: center;
    padding: 10px;
    color: red;
}
#chooseBreed{
    text-align: center;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.144);
    
} 
#breedBtn{
    padding-top: 5px;
}
hr{
    width: fit-content;
}
#card{
    max-width: fit-content;
    background-color: rgba(19, 21, 43, 0.438);
}

#dogTitle{
    position: relative;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 5px;
    left: 120px;
}
#dogImg{
    width: 400px;
    max-height: auto;
}
#likeBtn{
    color: rgba(255, 17, 0, 0.815);
    padding-top: 30px;
    padding-bottom: 20px;
}
label{
    padding-bottom: 10px;
    font-size: large;
    color: aliceblue;
}
p {
    padding-bottom: 10px;
    font-size: large;
    color: aliceblue;
}
@keyframes change{
    0%
    {
        background-image:url("img/dog 1.jpeg");
    }
    20%
    {
        background-image:url("img/dog 2.jpeg");
    }
    40%
    {
        background-image:url("img/dog 3.jpeg");
    }
    60%
    {
        background-image:url("img/dog 4.jpeg");
    }
    80%
    {
        background-image:url("img/dog 5.jpeg");
    }
    100%
    {
        background-image:url("img/dog 6.jpeg");
    }
}